asgiref==3.3.4
chromedriver-py==91.0.4472.19
click==8.0.1
fastapi==0.65.2
h11==0.12.0
joblib==1.0.1
numpy==1.20.3
pandas==1.2.4
pickle5==0.0.11
pydantic==1.8.2
pymongo==3.11.4
python-dateutil==2.8.1
pytz==2021.1
scikit-learn==0.24.2
scipy==1.6.3
selenium==3.141.0
six==1.16.0
sklearn==0.0
starlette==0.14.2
threadpoolctl==2.1.0
typing-extensions==3.10.0.0
urllib3==1.26.5
uvicorn==0.14.0
